<h1>{{title}}</h1>

<form action="/" method="POST" enctype="application/x-www-form-urlencoded">
    Цитат выводить: <input type="text" name="count" placeholder="3" value="{{#if count}}{{count}}{{else}}3{{/if}}" /><br />
    <input type="submit" />
</form>