<h1>{{title}}</h1>
<h2>{{#if username}}
    Logged as: {{username}} <a href="/logout">[logout]</a>
    {{else}}
    <a href="/user">Login, please</a>
    {{/if}}
</h2>
<ul>
    <li><a href="/">All articles</a></li>
    {{#if isAdmin}}<li><a href="/create">New article</a></li>{{/if}}
</ul>
