{{> header }}
<form action="" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="username" placeholder="login" value="admin" /><br />
    <input type="text" name="password" placeholder="password" value="admin" /><br />
    <input type="submit" />
</form>